header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  color: #ffffff;
  padding: 15px 20px;
  box-sizing: border-box;
  .headerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    select {
      width: 120px;
      height: 28px;
      background: #fff;
    }
    button {
      color: #ffffff;
      text-decoration: underline;
      opacity: 0.8;
      & + button {
        margin-left: 15px;
      }
      &.active {
        font-weight: bold;
        opacity: 1;
      }
    }
  }
}